@import 'tailwindcss';

:root {
  --primary-color: #f59e0b;        /* amber-500 */
  --accent-color: #d97706;         /* amber-600 */
  --text-color: #1f2937;           /* gray-800 */
  --subtext-color: #6b7280;        /* gray-500 */
  --background-color: #fefce8;     /* amber-50 */
  --error-color: #dc2626;          /* red-600 */
  --card-color: #ffffff;
}


@layer components {
  .nav-link {
    @apply px-3 py-1 rounded transition hover:bg-[var(--accent-color)];
  }

  .nav-link-active {
    @apply bg-[var(--accent-color)] text-white;
  }

  /* Custom utility class for cards */
  .card-box {
    @apply bg-white p-4 rounded-lg shadow-md;
  }

}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
